{% extends 'base.html.twig' %}

{% block title %}Accueil{% endblock %}

{% block body %}
<style>

</style>

<main>
    <div class="container mx-auto py-12 flex justify-between items-center">
        {% include 'partials/search.html.twig' %}
    </div>
</main>
{% endblock %}
