<header>
    <div class="container mx-auto py-12 flex justify-between items-center">
        <div>
            <a class="inline-block text-blue-600 font-extrabold tracking-wide text-lg" href="/home">LeBonCoin 2</a>
            <a class="inline-block bg-blue-600 font-medium text-white border tracking-wide rounded-md py-2 px-4 ml-5" href="/create/offer">Déposer une annonce</a>
        </div>
        <nav>
            <a class="inline-block tracking-wide" href="/login">Se connecter</a>
            <a class="inline-block ml-5 tracking-wide" href="/register">Créer un compte</a>
        </nav>
    </div>
</header>