<header>
    <div class="container m-auto py-8 flex items-baseline justify-between">
        <a class="flex items-baseline text-lg font-medium tracking-wide" href="/"><img class="block w-16 mr-4" src="images/logo.png" alt="LeBonCoing">LeBonCoing</a>
        <nav>
            <a class="bg-orange-300 font-medium tracking-wide px-6 py-4 rounded" href="/create/offer">Déposer une annonce</a>
            <a class="bg-orange-300 font-medium tracking-wide px-6 py-4 rounded" href="/reported/offers">Annonces signalées</a>
            <a class="ml-8" href="/register">Créer un compte</a>
            <a class="ml-8" href="/login">Se connecter</a>
            <a class="ml-8" href="#">Se déconnecter</a>
            <label class="ml-8 outline-none focus:outline-none" for=""></label><select name="" id="">
                <option value="">fr</option>
                <option value="">en</option>
            </select>
        </nav>
    </div>
</header>