{% extends 'base.html.twig' %}

{% block title %}Edit Offer{% endblock %}

{% block body %}
    <div class="container m-auto py-24">
        <h1 class="text-center text-3xl leading-9 font-extrabold text-gray-900 my-8">Modifier votre offre</h1>

        {{ include('offer/_form.html.twig', {'button_label': 'Update'}) }}

        <a class="bg-red-300 font-medium tracking-wide px-6 py-4 rounded mt-20" href="{{ path('offers') }}">Retour à la liste</a>

        {{ include('offer/_delete_form.html.twig') }}
    </div>
{% endblock %}
