{% extends 'base.html.twig' %}

{% block title %}LeBonCoing | Offre{% endblock %}

{% block body %}
<style>
    .line { height: 1px; }
</style>

<main class="container m-auto py-24">
    <section class="flex flex-col justify-between items-center max-w-screen-lg w-full m-auto">
        <div class="bg-gray-300 h-64 w-full mb-8 rounded-xl">
            <img class="block h-full rounded-xl" src="" alt="Nom de l'offre">
        </div>
        <h1 class="text-2xl font-semibold mb-16">Nom de l'offre</h1>
        <div class="flex items-center justify-between mb-10 w-full">
            <p><span class="font-semibold">Catégorie : </span>Loisirs</p>
            <p><span class="font-semibold">Prix : </span>15€</p>
        </div>
        <span class="line block bg-gray-400 w-full mb-10"></span>
        <div class="mb-10">
            <p class="font-semibold mb-2">Description</p>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
        </div>
        <span class="line block bg-gray-400 w-full mb-10"></span>
        <p class="mr-auto">Annonce postée par <span class="font-semibold">Juliette</span> le <span class="font-semibold">03/11/2020</span>.</p>
        <div class="flex items-center justify-between w-full mt-12">
            <a class="bg-orange-300 font-medium tracking-wide px-6 py-4 rounded" href="/send/message">Envoyer un message à <span class="font-semibold">Juliette</span></a>
            <a class="text-orange-600 font-medium" href="#">Signaler l'annonce</a>
        </div>
        <div class="flex items-center justify-between w-full mt-12">
            <a class="bg-red-400 font-medium tracking-wide px-6 py-4 rounded" href="/send/message">Supprimer l'annonce</a>
        </div>
    </section>
</main>
{% endblock %}
