{{ form_start(form) }}
    {{ form_widget(form) }}
    <button class="bg-orange-300 font-medium tracking-wide px-6 py-4 rounded flex mb-10">{{ button_label|default('Enregistrer') }}</button>
{{ form_end(form) }}
