<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8" />
    <title>{% block title %}Welcome!{% endblock %}</title>
    <link href="https://unpkg.com/tailwindcss@^1.0/dist/tailwind.min.css" rel="stylesheet">
    <style>
        main { min-height: calc(100vh - 120px); }
        form { width: 500px; }
        .line { height: 1px; }
        .offer-div { margin-bottom: 50px; width: calc(100%/3 - 30px);}
        input, textarea {
            padding: 0.5rem 0.75rem;
            margin-bottom: 2rem;
            appearance: none;
            border-width: 1px;
            border-radius: 0.375rem;
            border-color: #D1D5DB;
            color: #1F2937;
            line-height: 1.25rem;
            font-size: 0.875rem;
            width: 100%;
        }
        input::placeholder {
            color: #6B7280;
        }
        input:focus {
            border-color: #FCD34D;
        }
        #offer > div:nth-of-type(4) {
            display: grid;
            margin-bottom: 20px;
        }

        #offer > div option {
            cursor: pointer;
        }
    </style>
    {% block stylesheets %}{% endblock %}
</head>
<body>
    {% include 'partials/header.html.twig' %}
    {% block body %}{% endblock %}
    {% include 'partials/footer.html.twig' %}
    {% block javascripts %}{% endblock %}
</body>
</html>